asttokens
backcall
Brotli
click
dash
gunicorn
dash-core-components
dash-html-components
dash-table
debugpy
decorator
entrypoints
executing
Flask
Flask-Compress
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
plotly
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scikit-learn
scipy
six
stack-data
tenacity
threadpoolctl
tornado
traitlets
wcwidth
Werkzeug
zipp
